<ion-header>
  <ion-toolbar color="green">
    <ion-title>Santa Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="main-bg"></div>
  <div class="body_content">
    <h4>We are a company that helps kids track Santa on Christmas Eve. We are partnered with Norad Track Santa. We open
      our business on September 30, 2017. </h4>
    <table style="width: 100%; text-align: left" border="1">
      <tr>
        <td style="text-align: center" colspan="2">
          <h3>
            <ion-icon style="margin-top: -3px; margin-bottom: -3px" class="ion-margin-horizontal" name="time">
            </ion-icon>Timings
          </h3>
        </td>
      </tr>
      <tr>
        <td width="30%">
          <p><strong>Mon to Fri</strong></p>
        </td>
        <td width="70%">
          <p>6:00 am to 12:00 pm EST<br>1:00 pm to 5:00 pm EST</p>
        </td>
      </tr>
      <tr>
        <td width="30%">
          <p><strong>Sat &amp; Sun</strong></p>
        </td>
        <td width="70%">
          <p>Closed</p>
        </td>
      </tr>
    </table>
    <h5>Contact detail</h5>
    <ul>
      <li>
        <ion-icon class="ion-margin-horizontal" name="call"></ion-icon><a href="tel:+18443847951">+1-844-384-7951</a>
      </li>
      <li>
        <ion-icon class="ion-margin-horizontal" name="mail"></ion-icon><a
          href="mailto:santatracker@outlook.com">santatracker@outlook.com</a>
      </li>
      <li>
        <ion-icon class="ion-margin-horizontal" name="globe"></ion-icon><a href="javascript:void(0)"
          (click)="openWebsite()">santatracker7.wixsite.com/santatracker</a>
      </li>
      <li>
        <ion-icon class="ion-margin-horizontal" name="logo-skype"></ion-icon><a
          href="skype:live:santatracker_1?chat">santatracker_1</a>
      </li>
      <li>
        <ion-icon class="ion-margin-horizontal" name="text"></ion-icon>Text us <a
          href="javascript:void(0)">"SANTA TRACKER"</a> @ 319-96
      </li>
    </ul>
  </div>
</ion-content>