<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="shop">
      <ion-icon name="appstore"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feeds">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Feeds</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab horizontal="center" vertical="bottom" slot="fixed">
  <ion-fab-button color="red" (click)="openWebsite()">
    <ion-icon name="globe"></ion-icon>
  </ion-fab-button>
</ion-fab>