ion-tab-button {
  --color-selected: var(--ion-color-green);
  color: var(--ion-color-green);;
  &:hover {
    color: var(--ion-color-green);;
  }
  &.tab-selected {
    color: var(--ion-color-green) !important;
  }
}
