<ion-header>
  <ion-toolbar color="green" class="toolbar-background">
    <ion-title>
      Social Feeds
    </ion-title>
  </ion-toolbar>
  <ion-segment style="background: #fff;" color="red" (ionChange)="segmentChanged($event)">
    <!-- <ion-segment-button checked value="facebook">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-segment-button> -->
    <ion-segment-button checked value="instagram">
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="twitter">
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="youtube">
      <ion-icon name="logo-youtube"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div style="width: 100%; height: auto; display: flex; justify-content: center; align-content: center;">
    <!-- <iframe *ngIf="current === 'facebook'"
      src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fofficialsantatrackerteam&tabs=timeline%2C%20events&width=350&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1977606375586139"
      width="350" height="{{height}}" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
      allowTransparency="true" allow="encrypted-media"></iframe> -->
    <ion-tabs class="twitter-tabs" *ngIf="current === 'twitter'">
      <ion-tab-bar slot="top">
        <ion-tab-button class="officialSTteam tab-selected" (click)="changeTwit('officialSTteam')">
          <ion-label class="font-weight-bold">@officialSTteam</ion-label>
        </ion-tab-button>
        <ion-tab-button class="officialSTstore" (click)="changeTwit('officialSTstore')">
          <ion-label class="font-weight-bold">@officialSTstore</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

    <!-- <ion-tabs class="twitter-tabs" *ngIf="current === 'instagram'">
      <ion-tab-bar slot="top">
        <ion-tab-button class="officialSTteam tab-selected" (click)="changeTwit('officialSTteam')">
          <ion-label class="font-weight-bold">@officialSTteam</ion-label>
        </ion-tab-button>
        <ion-tab-button class="officialSTstore" (click)="changeTwit('officialSTstore')">
          <ion-label class="font-weight-bold">@officialSTstore</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs> -->
    <ngx-twitter-timeline *ngIf="current === 'twitter' && currentTwit === 'officialSTstore'"
      style="width: 100%; margin-top: 50px;" [data]="{sourceType: 'url', url: 'https://twitter.com/officialSTstore'}"
      [opts]="{tweetLimit: 100}">
    </ngx-twitter-timeline>

    <ngx-twitter-timeline *ngIf="current === 'twitter' && currentTwit === 'officialSTteam'"
      style="width: 100%; margin-top: 50px;" [data]="{sourceType: 'url', url: 'https://twitter.com/officialSTteam'}"
      [opts]="{tweetLimit: 100}">
    </ngx-twitter-timeline>

    <!-- <ngx-insta *ngIf="current === 'instagram'" [config]="config"></ngx-insta> -->

    <div *ngIf="current === 'instagram'">
      <ion-spinner class="custom-spinner" *ngIf="instaFeeds && instaFeeds.length <= 0" color="red" name="crescent">
      </ion-spinner>
      <span *ngIf="instaFeeds && instaFeeds.length > 0">
        <iframe *ngFor="let instaFeed of instaFeeds"  id="{{instaFeed.id}}" width="{{width}}" height="{{height}}" [src]="getUrl(instaFeed.link)"
          frameborder="0"></iframe>
      </span>
    </div>

    <!-- <iframe *ngIf="current === 'instagram'" width="100%" height="550"
      src="https://www.instagram.com/p/B8IjRLgJqbJ/embed" frameborder="0"></iframe> -->

    <div *ngIf="current === 'youtube'">
      <ion-spinner class="custom-spinner" *ngIf="videos && videos.length <= 0" color="red" name="crescent">
      </ion-spinner>
      <span *ngIf="videos && videos.length > 0">
        <ion-card *ngFor="let video of videos">
          <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">
            <img [src]="video.snippet.thumbnails.medium.url" class="card-img-top" alt="..."></a>
          <ion-card-header>
            <ion-card-title>
              <a href="https://www.youtube.com/watch?v={{video.id.videoId}}">
                {{video.snippet.title}}
              </a>
            </ion-card-title>
            <ion-card-subtitle>{{video.snippet.channelTitle}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{video.snippet.description.slice(0, 100)}}
          </ion-card-content>
        </ion-card>
      </span>
    </div>

    <!-- <div *ngIf="current === 'youtube'" class="elfsight-app-1907da1e-b2e2-4a69-b831-63b5182a63fd"></div> -->
  </div>

</ion-content>